
%h3 What do you want to talk about?

= simple_form_for @form do |f|
  = f.input :name, placeholder: "Name", label: false, readonly: @form.readonly?(:name)
  = f.input :description, placeholder: "Description", label: false
  = f.input :file, as: :file

  %fieldset
    %legend Do you know any authors?
    = f.simple_fields_for :users do |u|
      = u.input :email, placeholder: "Email", label: false

  = f.button :submit, class: :expand
