%h3 What do you want to talk about?

= simple_form_for contract, html: {class: css_class} do |f|
  = f.input :name, placeholder: "Name", label: false, readonly: contract.readonly?(:name)
  = f.input :description, placeholder: "Description", label: false
  = f.input :file, as: :file

  %fieldset
    %legend Do you know any authors?

    - if has_author_field?
      = f.input :is_author
      /, as: :boolean, label: "I'm the author!"
    = f.simple_fields_for :users do |u|
      - if @operation.instance_of? Thing::Create
        = u.input :email, placeholder: "Email", label: false
      - else
        = u.input :email, placeholder: "Email", label: false, readonly: u.object.removeable?

        - if u.object.removeable?
          = u.input :remove, as: :boolean, input_html: { checked: false }

  = f.button :submit, class: :expand

= contract.errors.messages
